:root {
  --drop-shadow: 0px 4px 25px 0px rgba(66, 0, 255, 0.39), 0px 0px 1px 0px rgba(255, 255, 255, 0.5);
  --gradients10-gradient: var(--tokens-text-text-on-accent);
  --gradients100-gradient: rgba(3, 2, 24, 1);
  --gradientsturquoise-light-blue: var(--tokens-base-base-accent);
  --mobile-ctas-button-text-01-font-family: "Mulish-Bold", Helvetica;
  --mobile-ctas-button-text-01-font-size: 14px;
  --mobile-ctas-button-text-01-font-style: normal;
  --mobile-ctas-button-text-01-font-weight: 700;
  --mobile-ctas-button-text-01-letter-spacing: 0px;
  --mobile-ctas-button-text-01-line-height: 20px;
  --mobile-ctas-button-text-02-font-family: "Mulish-Bold", Helvetica;
  --mobile-ctas-button-text-02-font-size: 10px;
  --mobile-ctas-button-text-02-font-style: normal;
  --mobile-ctas-button-text-02-font-weight: 700;
  --mobile-ctas-button-text-02-letter-spacing: 0px;
  --mobile-ctas-button-text-02-line-height: 14px;
  --mobile-ctas-PIN-input-text-font-family: "Mulish-Regular", Helvetica;
  --mobile-ctas-PIN-input-text-font-size: 20px;
  --mobile-ctas-PIN-input-text-font-style: normal;
  --mobile-ctas-PIN-input-text-font-weight: 400;
  --mobile-ctas-PIN-input-text-highlight-font-family: "Mulish-Bold", Helvetica;
  --mobile-ctas-PIN-input-text-highlight-font-size: 20px;
  --mobile-ctas-PIN-input-text-highlight-font-style: normal;
  --mobile-ctas-PIN-input-text-highlight-font-weight: 700;
  --mobile-ctas-PIN-input-text-highlight-letter-spacing: 0px;
  --mobile-ctas-PIN-input-text-highlight-line-height: 32px;
  --mobile-ctas-PIN-input-text-letter-spacing: 0px;
  --mobile-ctas-PIN-input-text-line-height: 32px;
  --mobile-headline-headline-01-font-family: "Epilogue-Regular", Helvetica;
  --mobile-headline-headline-01-font-size: 24px;
  --mobile-headline-headline-01-font-style: normal;
  --mobile-headline-headline-01-font-weight: 400;
  --mobile-headline-headline-01-letter-spacing: 0px;
  --mobile-headline-headline-01-line-height: 32px;
  --mobile-headline-headline-02-font-family: "Epilogue-Regular", Helvetica;
  --mobile-headline-headline-02-font-size: 16px;
  --mobile-headline-headline-02-font-style: normal;
  --mobile-headline-headline-02-font-weight: 400;
  --mobile-headline-headline-02-letter-spacing: 0px;
  --mobile-headline-headline-02-line-height: 28px;
  --mobile-headline-headline-03-font-family: "Epilogue-Regular", Helvetica;
  --mobile-headline-headline-03-font-size: 14px;
  --mobile-headline-headline-03-font-style: normal;
  --mobile-headline-headline-03-font-weight: 400;
  --mobile-headline-headline-03-letter-spacing: 0px;
  --mobile-headline-headline-03-line-height: 20px;
  --mobile-headline-headline-04-font-family: "Epilogue-Medium", Helvetica;
  --mobile-headline-headline-04-font-size: 14px;
  --mobile-headline-headline-04-font-style: normal;
  --mobile-headline-headline-04-font-weight: 500;
  --mobile-headline-headline-04-letter-spacing: 0px;
  --mobile-headline-headline-04-line-height: 20px;
  --mobile-paragraphs-highlight-body-text-font-family: "Mulish-Bold", Helvetica;
  --mobile-paragraphs-highlight-body-text-font-size: 14px;
  --mobile-paragraphs-highlight-body-text-font-style: normal;
  --mobile-paragraphs-highlight-body-text-font-weight: 700;
  --mobile-paragraphs-highlight-body-text-letter-spacing: 0px;
  --mobile-paragraphs-highlight-body-text-line-height: 20px;
  --mobile-paragraphs-normal-body-text-font-family: "Mulish-Regular", Helvetica;
  --mobile-paragraphs-normal-body-text-font-size: 14px;
  --mobile-paragraphs-normal-body-text-font-style: normal;
  --mobile-paragraphs-normal-body-text-font-weight: 400;
  --mobile-paragraphs-normal-body-text-letter-spacing: 0px;
  --mobile-paragraphs-normal-body-text-line-height: 20px;
  --mobile-paragraphs-small-body-text-font-family: "Mulish-Light", Helvetica;
  --mobile-paragraphs-small-body-text-font-size: 10px;
  --mobile-paragraphs-small-body-text-font-style: normal;
  --mobile-paragraphs-small-body-text-font-weight: 300;
  --mobile-paragraphs-small-body-text-highlight-font-family: "Mulish-Bold", Helvetica;
  --mobile-paragraphs-small-body-text-highlight-font-size: 10px;
  --mobile-paragraphs-small-body-text-highlight-font-style: normal;
  --mobile-paragraphs-small-body-text-highlight-font-weight: 700;
  --mobile-paragraphs-small-body-text-highlight-letter-spacing: 0px;
  --mobile-paragraphs-small-body-text-highlight-line-height: 16px;
  --mobile-paragraphs-small-body-text-letter-spacing: 0px;
  --mobile-paragraphs-small-body-text-line-height: 16px;
  --neonov-z-e: 0px 0px 10px 0px rgba(0, 240, 255, 0.3);
  --neutralsblack: rgba(0, 0, 0, 1);
  --neutralswhite: rgba(255, 255, 255, 1);
  --popup-glow: 0px -60px 40px 0px rgba(0, 16, 205, 0.08);
  --primarybright-blue10: rgba(229, 231, 250, 1);
  --primarybright-blue100: rgba(0, 16, 205, 1);
  --primarybright-blue20: rgba(204, 207, 245, 1);
  --primarybright-blue40: rgba(153, 159, 235, 1);
  --primarybright-blue60: rgba(102, 111, 225, 1);
  --primarybright-blue80: rgba(51, 64, 215, 1);
  --primarylight-purple100: rgba(244, 245, 250, 1);
  --primaryrich-black10: rgba(230, 230, 232, 1);
  --primaryrich-black100: rgba(3, 2, 24, 1);
  --primaryrich-black20: rgba(205, 204, 209, 1);
  --primaryrich-black40: rgba(154, 154, 163, 1);
  --primaryrich-black60: rgba(104, 103, 116, 1);
  --primaryrich-black80: rgba(53, 53, 70, 1);
  --primitives-colors-accent-10: rgba(229, 231, 250, 1);
  --primitives-colors-accent-100: rgba(0, 16, 205, 1);
  --primitives-colors-accent-20: rgba(204, 207, 245, 1);
  --primitives-colors-accent-60: rgba(102, 111, 225, 1);
  --primitives-colors-accent-80: rgba(51, 64, 215, 1);
  --primitives-colors-primary-100: rgba(3, 2, 24, 1);
  --primitives-colors-primary-40: rgba(154, 154, 163, 1);
  --primitives-colors-success-100: rgba(0, 208, 133, 1);
  --primitives-colors-white-10: rgba(244, 245, 250, 0.08);
  --primitives-colors-white-100: rgba(244, 245, 250, 1);
  --secondaryadditional-black100: rgba(16, 15, 36, 1);
  --secondaryadditional-red100: rgba(200, 0, 36, 1);
  --tokens-base-base-accent: var(--primitives-colors-accent-80);
  --tokens-base-base-press-accent: var(--primitives-colors-accent-100);
  --tokens-base-base-primary: var(--primitives-colors-primary-100);
  --tokens-base-surface-press-primary: var(--primitives-colors-accent-80);
  --tokens-base-surface-primary: var(--primitives-colors-white-10);
  --tokens-shape-on-base: var(--primitives-colors-accent-20);
  --tokens-text-text-notifications: var(--primitives-colors-primary-100);
  --tokens-text-text-on-accent: var(--primitives-colors-white-100);
  --tokens-text-text-on-primary: var(--primitives-colors-white-100);
  --uicolorprimary: rgba(103, 80, 163, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-tokens-mode="dark">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-tokens-mode="dark"] {
  --tokens-base-base-accent: var(--primitives-colors-accent-80);
  --tokens-base-base-press-accent: var(--primitives-colors-accent-100);
  --tokens-base-base-primary: var(--primitives-colors-primary-100);
  --tokens-base-surface-press-primary: var(--primitives-colors-accent-80);
  --tokens-base-surface-primary: var(--primitives-colors-white-10);
  --tokens-shape-on-base: var(--primitives-colors-accent-20);
  --tokens-text-text-on-primary: var(--primitives-colors-white-100);
}

[data-tokens-mode="light"] {
  --tokens-base-base-accent: var(--primitives-colors-accent-100);
  --tokens-base-base-press-accent: var(--primitives-colors-accent-80);
  --tokens-base-base-primary: var(--primitives-colors-white-100);
  --tokens-base-surface-press-primary: var(--primitives-colors-accent-20);
  --tokens-base-surface-primary: var(--primitives-colors-accent-10);
  --tokens-shape-on-base: var(--primitives-colors-accent-60);
  --tokens-text-text-on-primary: var(--primitives-colors-primary-100);
}
